@using System.Linq.Expressions
@using BinaryStudio.OurFaces.Controllers
@model BinaryStudio.OurFaces.Controllers.AddFaceModel

@{
    ViewBag.Title = "title";
}


@section AdditionalStyles{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css " />
}

<div class="hero-unit form-horizontal">
    @using (Html.BeginForm())
    {
        <legend>Please, leave some information about yourself.</legend>
   
        <div class="offset1">
            @Html.ValidationSummary(true)
            
            @TextBoxForWithValidation("Firstname", x => x.FirstName)

            @TextBoxForWithValidation("Lastname", x => x.LastName)
            
            <div class="control-group">
                <label class="control-label">
                    Day of birth
                </label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.Birthday, new { @id = "birth-datepicker" })
                </div>
            </div>
            <div class="controls">
                <input type="submit" value="Join!" class="btn btn-warning"/>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("#birth-datepicker").datepicker({ 
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            buttonImage: "/Content/images/calendar.gif"
        });
    });
</script>

@helper TextBoxForWithValidation(string caption, Expression<Func<AddFaceModel, string>> expression)
{
    <div class="control-group">
        <label class="control-label">
            @caption</label>
        <div class="controls">
            @Html.TextBoxFor(expression)
            @Html.ValidationMessageFor(expression)
        </div>
    </div>
}